beautifulsoup4==4.9.0
bs4==0.0.1
enum34==1.1.6
Flask==1.1.2
Flask-SQLAlchemy==2.4.1
gunicorn==20.0.4
h5py==2.7.1
html5lib==0.9999999
idna==2.9
Jinja2==2.11.2
lxml==4.5.0
Markdown==2.6.10
MarkupSafe==1.1.1
matplotlib==2.1.1
numpy==1.13.3
pandas==0.23.4
protobuf==3.5.1
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
PyYAML==3.12
requests==2.23.0
soupsieve==2.0
SQLAlchemy==1.3.16
stockquotes==2.0.0
urllib3==1.25.9
